@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {

  --clr-primary: #283618;
  --clr-secondary: #606C38;
  --clr-accent1: #DDA15E;
  --clr-accent2: #BC6C25;
  --clr-accent3: #FEFAE0;


  --ff-base: "Lato", serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.175;
  --fs-700: 2rem;


  --clr-navigation-background: #606C38;
  --clr-navigation-link: #FEFAE0;
  --clr-navigation-hover-link: ;
  --clr-navigation-hover-background: ;

}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-base);
  color: var(--clr-primary);
}

header {
  padding: 20px;
  background-color: var(--clr-accent1);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--clr-navigation-background);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--clr-navigation-link);
  text-decoration: none;
  padding: 1rem;

}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
