*, ::after, ::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .grid, footer {

  max-width: 840px;
  padding: 1rem;
  margin: auto;

}

nav {

  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

ul {

  list-style: none;
  display: flex;
  justify-content: space-around;

}


nav a {

  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;

}

main {
  grid-column: 2/3;
  margin: 1rem;
}


main img {

  width: 130px;
  height: auto;
  border-radius: 5px;
  float: right;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.656);
  border: 1px solid #333;

}

aside {

  width: 20rem;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0;

}

aside img {

  width: 280px;
  height: auto;
  border-radius: 5px;
  

}

p {

  padding: 0;

}

footer {

  margin-top: 15px;
  border-top: 2px solid #000;
  text-align: center;
  padding-block: 1rem;

}


/* Class Selectors */

.grid {

  display: grid;
  align-items: center;


}

.main-heading {
  color: steelblue;
  font-size: 1.2rem;
  border-bottom: solid 2px steelblue;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-wrap: nowrap;
}


.country {
  color: antiquewhite;
  position: absolute;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: .5rem;
  
}

.intro-paragraph {
  width: 75%;
}

.box {

  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(246, 135, 135, 0.2);
  background-color: bisque;
  color: #333;
  border-radius: 5px;

}

.hero {
  padding: 1rem;
}
